		*{
			margin:0;
			padding:0;
			font-family:"微软雅黑";
			text-decoration:none;
		}

		body{
			overflow-x:hidden;
		}
		img{
			display:block;
			border:none;
		}

		/* head */
		.head{
			width:100%;
			height:121px;
			background:#012530;
		}
		.head-wrap{
			width:1200px;
			height:121px;
			margin:0 auto;
		
		}
		.logo{
			width:386px;
			height:39px;
			float:left;
			margin-top:40px;
			margin-left:30px;
		}
		.nav{
			float:right;
			margin-top:54px;
			margin-right:200px;
		}
		.nav li{ 
			float:left;
			width:120px;
			height:67px;	
			list-style:none;
			text-align:center;
			line-height:67px ;
			font-size:18px;
			font-family:"微软雅黑";
		}
		.nav li a{
			display:block;
			width:120px;
			height:67px;
			text-decoration:none;
			color:#7b7b7b;
		}
		.nav li:hover a{
			color:#179eae;
		}
		.nav .active{
			background:url(../images/nav-line.png) no-repeat;
		}
		.nav .active a{
			color:#179eae;
		}

		/* 首页icon */
		.head-wrap .home_icon{
			display:inline-block;
			width:44px;
			height:44px;
			background:url(../images/home_icon.png) no-repeat;
			position:absolute;
			left:50%;
			margin-left:380px;
			top:45px;
		}


		/* 登录过后图标 */
		.person{
			position:absolute;
			left:50%;
			margin-left:460px;
			top:45px;
			cursor:pointer;
			z-index:1001;
		}
		.person-logo{
			width:135px;
			height:44px;
			background:url(../images/person-logo.jpg) no-repeat;
			line-height:44px;
			text-align:center;
			font-size:16px;
			color:#fff;
		}
		.person-list a{
			display:block;
			width:133px;
			height:42px;
			text-decoration:none;
			line-height:42px;
			text-align:center;
			font-size:16px;
			color:#9ea4a6;
			background:#fff;
			border:1px solid #0ba8bb;
			border-top:none;
		}
		.person-list a:hover{
			color:#0ba8bb;
		}



		/* section1 */
		.section1{
			width:1920px;
			position:relative;
			left:50%;
			margin-left:-960px;
			background:#fbfbfb;
			overflow:hidden;
		}
		.section1 .section1-wrap{
			width:1200px;

			margin:0 auto;
			margin-top:60px;
		}
		

		/* 	section1-right */
		.section1-right{
			float:left;
			width:920px;
			height:750px;
			margin-left:16px;
		}
		.section1-right .baseinfo{
			display:inline-block;
			width:90px;
			height:35px;
			border-bottom:3px solid #00b3c8;
			color:#00b3c8;
			font-size:18px;
			text-align:center;
		}
		.section1-right .changecode{
			display:inline-block;
			width:90px;
			height:35px;
			border-bottom:3px solid #abaaaa;
			color:#545454;
			font-size:18px;
			text-align:center;
		}
		.section1-right form{
			margin-top:30px;
		}
		.section1-right p{
			width:408px;
			height:30px;
			border:1px solid #d7d7d7;
			line-height:30px;
			margin-bottom:23px;
		}
		.section1-right p:hover{
			border:1px solid #00b3c8;
		}

		.section1-right p span{
			display:inline-block;
			vertical-align:middle;
		}
		.section1-right p input{
			width:370px;
			border:none;
			height:28px;
			padding-left:5px;
		}
		/* 姓名 */
		.section1-right .name-icon{
			width:12px;
			height:12px;
			background:url(../images/name.png) no-repeat;
			margin-left:10px;
			margin-right:10px;

		}

		/* 身份证 */
		.section1-right .IDcard-icon{
			width:14px;
			height:10px;
			background:url(../images/IDcard.png) no-repeat;
			margin-left:10px;
			margin-right:8px;
		}

		/* 	手机 */
		.section1-right .phone-icon{
			width:11px;
			height:17px;
			background:url(../images/phone.png) no-repeat;
			margin-left:12px;
			margin-right:8px;
		}

		/* 邮箱 */
		.section1-right .email-icon{
			width:15px;
			height:10px;
			background:url(../images/email.png) no-repeat;
			margin-left:10px;
			margin-right:7px;
		}

		/* 联系地址 */
		.section1-right .address-icon{
			width:11px;
			height:15px;
			background:url(../images/pointer.png) no-repeat;
			margin-left:10px;
			margin-right:10px;
		}
		/* 确定与取消 */
		.section1-right .btn input{
			width:200px;
			height:30px;
			border:none;
			font-size:16px;
			color:#fff;	
			cursor:pointer;
			background:#ccc;
		}
		.section1-right .btn .ok{
			background:#00b3c8;
			margin-right:6px;
		}

		


		
		

	


		/* footer */
		.footer{
			width:100%;
			height:240px;
			margin:0 auto;
			background:#012530;
			border-top:10px solid #178cae;
			clear:both;

		}
		.footer-wrap{
			width:1120px;
			height:177px;
			margin:0 auto;
			margin-top:55px;
		}
		.footer-left{
			float:left;
			margin-left: 150px;
		}
		.footer-left .footer-nav, .footer-left .footer-nav a{
			color:#fff;
			font-size:18px;
			text-decoration:none;
		}
		.footer-left .footer-nav span{
			margin:0 30px 0 30px;
		}
		.footer-left .link{
			display:inline-block;
			width:490px;
			height:50px;
			font-size:14px;
			color:#fff;
			margin-top:62px;
		}
		.footer-left .link .mailcode{
			margin-left:20px;
		}
		.footer-left .copyright{
			display:inline-block;
			width:227px;
			height:45px;
			margin-left:66px;
			margin-top:62px;
			color:#fff;
			font-size:14px;
		}
		/* footer-right */
		.footer-right{
			float:right;
			width:168px;
			height:168px;
			border:1px solid #a5a5a5;
		}