		*{
			padding:0;
			margin:0;
			font-family:"微软雅黑";
		}
		body{
			overflow-x:hidden;
		}
		img{
			display:block;
			border:none;
		}

		/* head */
		.head{
			width:100%;
			height:121px;
			background:#fff;
		}
		.head-wrap{
			width:1200px;
			height:121px;
			margin:0 auto;
		
		}
		.logo{
			width:240px;
			height:58px;
			float:left;
			margin-top:31px;
			margin-left:30px;
		}
		.nav{
			float:right;
			margin-top:54px;
			margin-right:200px;
		}
		.nav li{ 
			float:left;
			width:120px;
			height:67px;	
			list-style:none;
			text-align:center;
			line-height:67px ;
			font-size:18px;
			font-family:"微软雅黑";
		}
		.nav li a{
			display:block;
			width:120px;
			height:67px;
			text-decoration:none;
			color:#7b7b7b;
		}
		.nav li:hover a{
			color:#179eae;
		}
		.nav .active{
			background:url(../images/nav-line.png) no-repeat;
		}
		.nav .active a{
			color:#179eae;
		}

		/* 登录过后图标 */
		.person{
			position:absolute;
			left:50%;
			margin-left:460px;
			top:66px;
			cursor:pointer;
			z-index:1001;
		}
		.person-logo{
			width:135px;
			height:44px;
			background:url(../images/person-logo.jpg) no-repeat;
			line-height:44px;
			text-align:center;
			font-size:16px;
			color:#868686;
		}
		.person-list a{
			display:block;
			width:133px;
			height:42px;
			text-decoration:none;
			line-height:42px;
			text-align:center;
			font-size:16px;
			color:#868686;
			background:#fff;
			border:1px solid #dadee0;
			border-top:none;
		}
		.person-list a:hover{
			color:#179eae;
		}

		/* pagenav */
		.pagenav{
			position:relative;
			left:50%;
			margin-left:385px;
			margin-top:32px;
		}
		.pagenav .product{
			color:#0ba7b9;
		}
		.pagenav .home-icon{
			display:inline-block;
			width:27px;
			height:23px;
			background:url(../images/home-icon.png) no-repeat;
			vertical-align:middle;
			margin-bottom:5px;
			margin-right:10px;
		}
		.pagenav{
			font-size:14px;
			color:#868686;
		}
		.pagenav a{
			text-decoration:none;
			font-size:14px;
			color:#868686;
		}

		/* section1 */
		.section1{
			width:1920px;
			height:1181px;
			overflow:hidden;
			position:relative;
			left:50%;
			margin-left:-960px;
		}
		.section1 .section1-wrap{
			width:1200px;
			height:1181px;
			margin:0 auto;
			margin-top:50px;
		}
		.section1-wrap .title{
			width:1200px;
			height:46px;
		}
		.section1-wrap .title li{
			width:298px;
			height:46px;
			background:#e4e4e4;
			float:left;
			text-align:center;
			line-height:46px;
			list-style:none;
		}
		.section1-wrap .title li:hover a{
			background:#178cae;
			color:#fff;
		}
		.section1-wrap .title li a{
			text-decoration:none;
			color:#333;
			display:block;
			width:298px;
			height:46px;
		}
		.section1-wrap .title .li-margin{
			margin-right:2px;
		}
		.section1-wrap .title .active{
			background:#178cae;
			color:#fff;
		}

		.section1-wrap .content{
			width:1000px;
			height:843px;
			margin:0 auto;
			margin-top:85px;
		}
		.content .link{
			width:1000px;
			height:170px;
		}
		.content .link .icon{
			width:33px;
			height:170px;
			float:left;
		}
		.content .link .icon i{
			display:inline-block;
		}
		.icon .phone{
			margin-left:3px;
		}
		.icon .address{
			margin-top:37px;
			margin-left:4px;
		}
		.icon .mail{
			margin-top:50px;
		}

		.content .link .text{
			width:947px;
			height:170px;
			float:right;
			font-size:16px;
			color:#666;
		}
		.text .phone{
			margin-top:4px;
		}
		.text .address{
			margin-top:36px;
			line-height:1.6em;
		}
		.text .mail{
			margin-top:35px;
		}

		/* baidu map */
		#allmap {
			width:100%; 
			height:595px;
			overflow: hidden;
			margin:0;
		}
		#l-map{
			height:100%;
			width:78%;
			float:left;
			border-right:2px solid #bcbcbc;
		}
		#r-result{
			height:100%;
			width:20%;
			float:left;
		}
		.myclass{ 
			height:50px; 
			width:150px; 
			font-size:12px; 
			line-height:22px;
		}
		.map{
			width:1000px; 
			height:595px; 
			background:url(../images/map.png) no-repeat;
			margin:0 auto;
			margin-top:77px;
		}



		/* footer */
		.footer{
			width:100%;
			height:240px;
			margin:0 auto;
			background:#012530;
			border-top:10px solid #178cae;
		}
		.footer-wrap{
			width:1120px;
			height:177px;
			margin:0 auto;
			margin-top:55px;
		}
		.footer-left{
			float:left;
			margin-left: 150px;
		}
		.footer-left .footer-nav, .footer-left .footer-nav a{
			color:#fff;
			font-size:18px;
			text-decoration:none;
		}
		.footer-left .footer-nav span{
			margin:0 30px 0 30px;
		}
		.footer-left .link{
			display:inline-block;
			width:490px;
			height:50px;
			font-size:14px;
			color:#fff;
			margin-top:62px;
		}
		.footer-left .link .mailcode{
			margin-left:20px;
		}
		.footer-left .copyright{
			display:inline-block;
			width:227px;
			height:45px;
			margin-left:66px;
			margin-top:62px;
			color:#fff;
			font-size:14px;
		}
		/* footer-right */
		.footer-right{
			float:right;
			width:168px;
			height:168px;
			border:1px solid #a5a5a5;
		}


		
		/* to-top */
		.to-top{
			display:block;
			position:fixed;
			top:615px;
			left:50%;
			margin-left:683px;
			width:44px;
			height:44px;
			background:url(../images/to-top.png) no-repeat;
		}