		*{
			padding:0;
			margin:0;
			font-family:"微软雅黑";
			text-decoration:none;
		}
		body{
			overflow-x:hidden;
		}
		img{
			display:block;
			border:none;
		}

		/* head */
		.head{
			width:100%;
			height:121px;
			background:#fff;
		}
		.head-wrap{
			width:1200px;
			height:121px;
			margin:0 auto;
			overflow:hidden;
		
		}
		.logo{
			width:240px;
			height:58px;
			float:left;
			margin-top:31px;
			margin-left:30px;
		}
		.head .title{
			width:220px;
			height:55px;
			background:url(../images/title.png) no-repeat;
			margin-left:304px;
			margin-top:34px;
		}
	
		/* login */
		.login-wrap{
			width:344px;
			height:347px;
			background:#fff;
			position:absolute;
			top:24%;
			left:56%;
		}
		input{
			border:none;
		}
		.content{
			width:344px;
			height:347px;
		}
		.content .title{
			width:100px;
			height:23px;
			border-top:2px solid #0094a6;
			font-size:18px;
			color:#0094a6;
			padding-left:22px;
			padding-top:8px;
			margin-left:36px;
			margin-top:20px;
		}
		.login{
			width:273px;
			height:143px;
			margin-left:37px;
			margin-top:26px;
		}
		.login p{
			width:273px;
			height:43px;
			background:#e3e3e3;
			line-height:43px;
		}
		.login p:hover {
		    border: 1px solid #00b3c8;
		}
		.login p input{
			height:30px;
			width:190px;
			background:#e3e3e3;
			margin-left:10px;
			color:#999;
			font-size:16px;
			border:none;
		}
		.p2{
			margin:7px 0 7px 0;
		}

		.login .icon1{
			display:inline-block;
			width:36px;
			height:42px;
			background:url(../images/username.png) no-repeat;
			vertical-align:middle;

		}
		.login .icon2{
			display:inline-block;
			width:36px;
			height:42px;
			background:url(../images/password.png) no-repeat;	
			vertical-align:middle;
		}

		.p3 img{
			display:inline-block;
			vertical-align:middle;
			margin-top:-3px;
			cursor:pointer;
		}
		.p3 input{
			margin-top:6px;
		}

		.question a{
			display:inline-block;
			text-decoration:none;
			font-size:12px;
			color:#008a9a;
			margin-top:20px;
		}
		
		.question .a2{
			margin-left:249px
		}

		.load{
			width:273px;
			height:40px;
			background:#0094a6;
			margin-top:15px;
			margin-left:37px;
			color:white;
			font-size:18px;
		}
		

		/* footer */
		.footer{
			width:100%;
			height:240px;
			margin:0 auto;
			background:#012530;
			border-top:10px solid #178cae;
		}
		.footer-wrap{
			width:1120px;
			height:177px;
			margin:0 auto;
			margin-top:55px;
		}
		.footer-left{
			float:left;
			margin-left: 150px;
		}
		.footer-left .footer-nav, .footer-left .footer-nav a{
			color:#fff;
			font-size:18px;
			text-decoration:none;
		}
		.footer-left .footer-nav span{
			margin:0 30px 0 30px;
		}
		.footer-left .link{
			display:inline-block;
			width:490px;
			height:50px;
			font-size:14px;
			color:#fff;
			margin-top:62px;
		}
		.footer-left .link .mailcode{
			margin-left:20px;
		}
		.footer-left .copyright{
			display:inline-block;
			width:227px;
			height:45px;
			margin-left:66px;
			margin-top:62px;
			color:#fff;
			font-size:14px;
		}
		/* footer-right */
		.footer-right{
			float:right;
			width:168px;
			height:168px;
			border:1px solid #a5a5a5;
		}