		*{
			padding:0;
			margin:0;
			font-family:"微软雅黑";
		}
		body{
			overflow-x:hidden;
		}
		img{
			display:block;
			border:none;
		}

		/* head */
		.head{
			width:100%;
			height:121px;
			background:#fff;
		}
		.head-wrap{
			width:1200px;
			height:121px;
			margin:0 auto;
		
		}
		.logo{
			width:240px;
			height:58px;
			float:left;
			margin-top:31px;
			margin-left:30px;
		}
		.nav{
			float:right;
			margin-top:54px;
			margin-right:200px;
		}
		.nav li{ 
			float:left;
			width:120px;
			height:67px;	
			list-style:none;
			text-align:center;
			line-height:67px ;
			font-size:18px;
			font-family:"微软雅黑";
		}
		.nav li a{
			display:block;
			width:120px;
			height:67px;
			text-decoration:none;
			color:#7b7b7b;
		}
		.nav li:hover a{
			color:#179eae;
		}
		.nav .active{
			background:url(../images/nav-line.png) no-repeat;
		}
		.nav .active a{
			color:#179eae;
		}
		.banner{
			position:relative;
		}
		.banner h1{
			color:#fff;
			font-size:36px;
			position:absolute;
			top:145px;
			left:350px;

		}
			/* 登录过后图标 */
		.person{
			position:absolute;
			left:50%;
			margin-left:460px;
			top:66px;
			cursor:pointer;
			z-index:1001;
		}
		.person-logo{
			width:135px;
			height:44px;
			background:url(../images/person-logo.jpg) no-repeat;
			line-height:44px;
			text-align:center;
			font-size:16px;
			color:#868686;
		}
		.person-list a{
			display:block;
			width:133px;
			height:42px;
			text-decoration:none;
			line-height:42px;
			text-align:center;
			font-size:16px;
			color:#868686;
			background:#fff;
			border:1px solid #dadee0;
			border-top:none;
		}
		.person-list a:hover{
			color:#179eae;
		}
		/* pagenav */
		.pagenav{
			position:relative;
			left:50%;
			margin-left:350px;
			margin-top:32px;
		}
		.pagenav .product{
			color:#0ba7b9;
		}
		.pagenav .home-icon{
			display:inline-block;
			width:27px;
			height:23px;
			background:url(../images/home-icon.png) no-repeat;
			vertical-align:middle;
			margin-bottom:5px;
			margin-right:10px;
		}
		.pagenav{
			font-size:14px;
			color:#868686;
		}
		.pagenav a{
			text-decoration:none;
			font-size:14px;
			color:#868686;
		}

		/* section1 */
		.section1{
			width:1920px;
			height:877px;
			overflow:hidden;
			position:relative;
			left:50%;
			margin-left:-960px;
		}
		.section1 .section1-wrap{
			width:1200px;
			height:635px;
			margin:0 auto;
			margin-top:55px;
		}
		.section1 .section1-wrap .new{
			width:1000px;
			height:635px;
			margin:0 auto;
		}
		.new .new-top h1{
			font-size:30px;
			color:#2d2d2d;
			font-weight:normal;
			width:555px;
			margin:0 auto;
		}
		.new .new-top p{
			margin-left:333px;
			margin-top:30px;
		}
		.new .new-top p span{
			font-size:16px;
			color:#666;
		}
		.new .new-top p .where{
			margin-left:68px;
		}
		.new .new-top p .font{
			margin-left:182px;
		}
		.new .new-top p .font a{
			margin-left:23px;
			color:#666;
			text-decoration:none;
		}
		.new .new-top p .font .small{
			color:#09b1c5;
		}


		.new-bottom{
			width:1000px;
			height:470px;
			margin-top:75px;
		}
		.new-bottom p{
			line-height:1.8em;
			font-size:14px;
			color:#666;
		}
		.new-bottom .p2, .new-bottom .p3, .new-bottom .p4, .new-bottom .p5, .new-bottom .p6{
			margin-top:10px;
		}
		.new-bottom .p3, .new-bottom .p4, .new-bottom .p5, .new-bottom .p6{
			text-indent:2em;
		}
		.new-bottom .p7{
			margin-top:103px;
			margin-left:802px;
		}
		.new-bottom .p8{
			margin-left:882px;
			margin-top:10px;
		}

		/* 上一篇下一篇 */
		.footer-page-nav{
			font-size:14px;
			color:#666;
		}
		.footer-page-nav p a{
			font-size:14px;
			color:#666;	
			text-decoration:none;
		}
		.footer-page-nav p a:hover{
			color:#178cae;
			text-decoration:underline;
		}
		.footer-page-nav .p1{
			margin:80px 0 10px 0;
		}




		/* footer */
		.footer{
			width:100%;
			height:240px;
			margin:0 auto;
			background:#012530;
			border-top:10px solid #178cae;
		}
		.footer-wrap{
			width:1120px;
			height:177px;
			margin:0 auto;
			margin-top:55px;
		}
		.footer-left{
			float:left;
			margin-left: 150px;
		}
		.footer-left .footer-nav, .footer-left .footer-nav a{
			color:#fff;
			font-size:18px;
			text-decoration:none;
		}
		.footer-left .footer-nav span{
			margin:0 30px 0 30px;
		}
		.footer-left .link{
			display:inline-block;
			width:490px;
			height:50px;
			font-size:14px;
			color:#fff;
			margin-top:62px;
		}
		.footer-left .link .mailcode{
			margin-left:20px;
		}
		.footer-left .copyright{
			display:inline-block;
			width:227px;
			height:45px;
			margin-left:66px;
			margin-top:62px;
			color:#fff;
			font-size:14px;
		}
		/* footer-right */
		.footer-right{
			float:right;
			width:168px;
			height:168px;
			border:1px solid #a5a5a5;
		}

		
		/* to-top */
		.to-top{
			display:block;
			position:fixed;
			top:615px;
			left:50%;
			margin-left:683px;
			width:44px;
			height:44px;
			background:url(../images/to-top.png) no-repeat;
		}